<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cancerCenter" class="lesson1.hospital.CancerCenter"/>

    <bean id="cancer" class="lesson1.patient.CancerPatient" scope="prototype" init-method="init">
        <constructor-arg type="lesson1.hospital.CancerCenter" ref="cancerCenter"/>
    </bean>

</beans>